textarea {
    width: 100%;
    display: block;
}
button {
    margin-top: 15px;
    display: block;
    font-weight: bold;
}
aside {
    color: red;
    font-size: 11px;
    font-style: italic;
    padding-top: 4px;
    display: none;
}
.visible {
    display: block;
}